

<body>
    <!-- MENU ENCABEZADO -->
    <div class="contenedor-header">
        <header>
            <div class="logo">
               
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#inicio" (click)="seleccionar()">INICIO</a></li>
                    <li><a href="#sobremi" (click)="seleccionar()">SOBRE MI</a></li>
                    <li><a href="#skills" (click)="seleccionar()">SKILLS</a></li>
                    <li><a href="#curriculum" (click)="seleccionar()">CURRICULUM</a></li>
                    <li><a href="#portfolio" (click)="seleccionar()">PORTFOLIO</a></li>
                    <!-- <li><a href="#contacto" (click)="seleccionar()">CONTACTO</a></li> -->
                </ul>
            </nav>
            <div class="nav-responsive" (click)="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>

    <!-- SECCION INICIO -->
    <section id="inicio" class="inicio">
        <div class="contenido-banner">
            <div class="contenedor-img">
                <img src="../assets/img/imagen.jpg" alt="">
            </div>
            <h1>William Reyes</h1>
            <h2>Programador Web</h2>
            <div class="redes">
                <a href="https://www.facebook.com/willian.reyes.71/"> <i class="bi bi-facebook"></i></a>
                <a href="https://www.linkedin.com/in/william-reyes-4ba872231/"> <i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!-- SECCION SOBRE MI -->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2>Sobre Mí</h2>
            <p><span>Hola, soy William Reyes.</span>Soy un estudiante de ingeniería en ciencias de la computación con una apasionada dedicación a la programación. Mi habilidad para resolver problemas se destaca por la agilidad y la implementación de soluciones eficientes mediante una sólida lógica de programación. Mi enfoque se centra en enfrentar desafíos con creatividad y encontrar soluciones innovadoras. Estoy comprometido con aprender continuamente y aplicar mis habilidades para contribuir al mundo de la tecnología.</p>

            <div class="fila">
                <!-- datos personales -->
                <div class="col">
                    <h3>Datos Personales</h3>
                    <ul>
                       
                        <li>
                            <strong>Teléfono</strong>
                        7278-6869    
                        </li>
                        <li>
                            <strong>Email</strong>
                            {{enlaceURL}}
                        </li>
                        <li>
                            <strong>GitHub</strong>
                           {{gitHub}}
                        </li>
                      
                    </ul>
                </div>

                <!-- intereses -->
                <div class="col">
                    <h3>Intereses</h3>
                    <div class="contenedor-intereses">
                        <div class="interes">
                            <i class="bi bi-controller"></i>
                            <span>JUEGOS</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-music-note-beamed"></i>
                            <span>MUSICA</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-suitcase-lg-fill"></i>
                            <span>VIAJAR</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-android2"></i>
                            <span>TECNOLOGIA</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-dribbble"></i>
                            <span>DEPORTE</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-journal-check"></i>
                            <span>LIBROS</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-car-front-fill"></i>
                            <span>AUTOS</span>
                        </div>
                        <div class="interes">
                            <i class="bi bi-camera"></i>
                            <span>FOTOS</span>
                        </div>
                        
                    </div>
                </div>
            </div>
            <button (click)="CV()">
                Descargar CV <i class="bi bi-arrow-down-circle"></i>
                <span class="overlay"></span>
            </button>
        </div>
    </section>

    <!-- SECCION SKILLS -->
    <section class="skills" id="skills" appScrollAnimation>
        <div class="contenido-seccion">
            <h2>Skills</h2>
            <div class="fila">
                <!-- Technical Skill -->
                <div class="col">
                    <h3>Technical Skills</h3>
                    <div class="skill">
                        <span>Javascript</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>TypeScript</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Angular</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>React</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Rxjs</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>React-Native</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Node</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>PHP</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Professional Skills -->
                <div class="col">
                    <h3>Professional Skills</h3>
                    <div class="skill">
                        <span>Comunicación</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Trabajo en Equipo</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>70%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Creatividad</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="skill">
                        <span>Dedicación</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </section>

    <!-- SECCION CURRICULUM -->
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>Educación</h3>
                    <div class="item izq">
                        <h4>Tecnico vocacional en desarrollo de software</h4>
                        <span class="casa">Instituto Nacional de San Martin</span>
                        <span class="fecha">2017 - 2019</span>
                        <p>Bachillerato tecnico donde se especializan en formar la logica de la programacion resolviendo algoritmos y haciendo proyectos en C# y en java utilizando windows.form</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Ingenieria en ciencias de la computacion</h4>
                        <span class="casa">Universidad don Bosco</span>
                        <span class="fecha">2020 - 2024</span>
                        <p>La Ingeniería en Ciencias de la Computación es un campo multidisciplinario que combina principios de la ingeniería y conceptos de la ciencia de la computación para diseñar, desarrollar, implementar y gestionar sistemas de software y hardware</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                    <div class="item izq">
                        <h4>Certificacion de fundamentos de Javascript</h4>
                        <span class="casa">Fedisal</span>
                        <span class="fecha">2021 - 2022</span>
                        <p>Fue una certificacion donde se mejora la comprension de lo que es el lenguaje de programacion empezando por su sintaxis y llegando hasta temas un poco mas avanzados como promesas y el manejo de async await</p>
                        <div class="conectori">
                            <div class="circuloi"></div>
                        </div>
                    </div>
                </div>

                <div class="col derecha">
                    <h3>Experiencia de trabajo</h3>
                    <div class="item der">
                        <h4>Front Developer</h4>
                        <span class="casa">Byte</span>
                        <span class="fecha">2023 - 2023</span>
                        <p>Desarrollo web Front-End con Angular enfocado en diseño web mantenimiento estandares UX y diseño adaptable, entre mis principales responsabilidades se encontraba la solvencia de issues donde se resolvian por prioridad y desarrollar nuevas funcionalides dependiendo del requerimiento que me plantearan</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
                    <div class="item der">
                        <h4>Servicio social</h4>
                        <span class="casa">Fundacion Emprende HOY</span>
                        <span class="fecha">2023 - 2023</span>
                        <p>Actualmente me encuentro haciendo mis horas sociales en esta fundacion por parte de la universidad donde estoy trabajando en un sistema contable en la parte del front construyendo toda la interfaz mediante el consumo de apis</p>
                        <div class="conectord">
                            <div class="circulod"></div>
                        </div>
                    </div>
              
                </div>
            </div>
        </div>
    </section>

    <!-- SECCION PORTFOLIO -->
    <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
            <h2>PORTFOLIO</h2>
            <div class="galeria">
                <div class="proyecto">
                    <img src="../assets/img/p1.jpg" alt="">
                    <div class="overlay">
                        <h3>Dashboard con angular material</h3>
                        <p>Angular</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="../assets/img/p2.jpg" alt="">
                    <div class="overlay">
                        <h3>Buscador con react</h3>
                        <p>React</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="../assets/img/p3.jpg" alt="">
                    <div class="overlay">
                        <h3>Graficos de barra</h3>
                        <p>Angular</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="../assets/img/p4.jpg" alt="">
                    <div class="overlay">
                        <h3>Crud con sequialize</h3>
                        <p>Node.js</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="../assets/img/p5.jpg" alt="">
                    <div class="overlay">
                        <h3>API</h3>
                        <p>Node</p>
                    </div>
                </div>
                <div class="proyecto">
                    <img src="../assets/img/p6.jpg" alt="">
                    <div class="overlay">
                        <h3>Aplicacion de contratacion de servicios</h3>
                        <p>React-native</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SECCION CONTACTO -->
    <!-- <section id="contacto" class="contacto">
        <div class="contenido-seccion">
            <h2>CONTACTO</h2>
            <div class="fila">
               
                <div class="col">
                    <input type="text" placeholder="Tú Nombre">
                    <input type="text" placeholder="Número telefónico">
                    <input type="text" placeholder="Dirección de correo">
                    <input type="text" placeholder="Tema">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                    <button>
                        Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
                        <span class="overlay"></span>
                    </button>
                </div>
              
                <div class="col">
                    <img src="../assets/img/ubicacion.png" alt="">
                    <div class="info">
                        <ul>
                            <li>
                                <i class="fa-solid fa-location-dot"></i>
                                Nicaragua 159, San Rafael Mza
                            </li>
                            <li>
                                <i class="fa-solid fa-mobile-screen"></i>
                                Llamanos: 2384 - 4343443 
                            </li>
                            <li>
                                <i class="fa-solid fa-envelope"></i>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- footer -->
    <footer>
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <a href="https://www.facebook.com/willian.reyes.71/"> <i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/in/william-reyes-4ba872231/"> <i class="bi bi-linkedin"></i></a>
          
         
        </div>
    </footer>


</body>
